/Logs/
/obj/Debug/
/Library/
/Temp/__Backupscenes/0.backup
/Temp/Assembly-CSharp.dll.hash
/Temp/CompilationLog.txt
/Temp/UnityLockfile
/Temp/UnityTempFile-99062904c71ea4855a28f5c235db6db1
/Temp/UnityTempFile-dab3e60fe91574a4ba99186839f98b81
/Temp/UnityTempFile-e641c6d4214cf42319335775d50dca8f
/Temp/workerlic
